@{
    ViewData["Title"] = "About";
}

<h1>Get to know Joel</h1>
<br />
<a href="https://baconsale.com">
    <img src="\baconsalekate.jpg" height= "500" alt="Baconsale" />
</a>
<br>
<a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
<br />
<a href="https://baconsale.com/">BaconSale</a>